name: Deploy on Prod

on:
  push:
    branches:
      - main

jobs:
  deploy:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Start containers
        run: docker-compose -f "docker-compose.yml" up -d --build


      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: docker compose exec php composer install --prefer-dist --no-progress

      - name: PHPUnit
        run: docker compose exec php make test-full

      - name: Stop containers
        if: always()
        run: docker-compose -f "docker-compose.yml" down
